/* Stylesheet by Kayne Neigherbauer, 2017 */

#mapid { 
    height: 500px;
    width: 80%;
    display: inline-block;
}


#panel {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}

.leaflet-popup-content p {
    margin: 0.02em 0;
}