/* Stylesheet by Kayne Neigherbauer, 2017 */

#mapid { 
    height: 600px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.sequence-control-container {
    width: 400px;
    height: 30px;
    background: #C7C7C7;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 2px;
    border-radius: 5px;
}

.range-slider {
    width: 200px;
}

#panel {
    width: 500px;
    padding: 1%;
    display: inline-block;
    vertical-align: top;
    background: #C7C7C7;
    border: solid gray 2px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
}

.range-slider {
    width: 70%;
}

#forward{
    float: right;
}

#reverse{
    float: left;
}

.leaflet-popup-content p {
    margin: 0.02em 0;
}

body { 
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#subtitle{
    width: 70%;
}

h7 {
    font-size: 12pt;
}

#legendabove{
    font-size: 10pt;
    background-color: #af8dc3;
}

#legendbelow{
    font-size: 10pt;
    background-color: #7fbf7b;
}
